<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<th:block th:include="./_header.html"/>
<main id="board" class="list">
    <table border="0">
        <caption>글목록</caption>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>날짜</th>
            <th>조회</th>
        </tr>
        <tr th:each="article:${articles}">
            <td>[[${article.no}]]</td>
            <td><a th:href="@{/view(no=${article.no})}">[[${article.title}]] ([[${article.comment}]])</a></td>
            <td>[[${article.nick}]]</td>
            <td>[[${article.rdate.substring(2, 10)}]]</td>
            <td>[[${article.hit}]]</td>
        </tr>               
    </table>
    <div class="page">
        <a href="#" class="prev">이전</a>
        <a href="#" class="num current">1</a>
        <a href="#" class="next">다음</a>
    </div>
    <a th:href="@{/write}" class="btnWrite">글쓰기</a>
</main>
<th:block th:include="./_footer.html"/>